@charset "UTF-8";
/**
 * nercessário: body => position:relative, quando el.pai, neste caso é  o footer, for position absolute.
*/
.overNavSwipeAre {
  background-color: white;
  background-color: #2D4B73;
  padding: 0rem 0rem 0rem 0.4rem;
  min-height: 10.5rem;
  min-width: 48px;
  width: min-content;
  display: grid;
  position: absolute;
  z-index: 99;
  bottom: 12rem;
  right: -47px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.overNavSwipeAre > button.btnSwipeArea {
  background-color: transparent;
  height: 100%;
  width: 20px;
  position: absolute;
  right: 46px;
  border: none;
  outline: none;
}

.overNavSwipeAre nav.navSwipe {
  background-color: #2b2b2b;
  padding: 0.88rem 0.4rem 0.8rem 0rem;
  min-height: 100%;
  display: grid;
  gap: 2px;
  grid-auto-flow: row;
  align-items: center;
}

.overNavSwipeAre nav.navSwipe > * {
  /* Desativar a seleção do usuário */
  -webkit-user-select: none !important;
  user-select: none !important;
  /* Desativar longa pressione links*/
  -webkit-touch-callout: none;
  /* Desativar arrastar e soltar */
  -webkit-user-drag: none;
  /* Cor de destaque transparente. */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.overNavSwipeAre nav.navSwipe > a {
  background-color: #2b2b2b;
  margin: 0.0rem 0rem;
  padding: 0.6rem 1.1rem;
  min-height: fit-content;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;
  gap: 2px;
  overflow: initial;
  position: relative;
  cursor: pointer;
}

.overNavSwipeAre nav.navSwipe > a > * {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none !important;
  user-select: none !important;
  /* disable user selection */
  -webkit-user-select: none;
  user-select: none;
  /* disable longpress on links */
  -webkit-touch-callout: none;
  /* disable drag and drop */
  -webkit-user-drag: none;
  /* transparent highlight color */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.overNavSwipeAre nav.navSwipe > a > svg {
  fill: #F2F2F2;
  stroke: #F2F2F2;
  stroke: #F2F2F2;
  min-height: 14px;
  max-height: 14px;
}

.overNavSwipeAre nav.navSwipe > a > span {
  color: #F2F2F2;
  font-size: 00.85em;
}

.overNavSwipeAre nav.navSwipe > a > b:nth-child(1) {
  display: flex;
}

.overNavSwipeAre nav.navSwipe > a > b:nth-child(2) {
  display: flex;
}

.overNavSwipeAre nav.navSwipe > a > b:nth-child(1)::before {
  display: flex;
}

.overNavSwipeAre nav.navSwipe > a > b:nth-child(2)::before {
  content: '';
  display: flex;
}

.overNavSwipeAre nav.navSwipe > a.activeGrade {
  background-color: #2D4B73;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.overNavSwipeAre nav.navSwipe > a.activeGrade > svg {
  fill: white;
  stroke: white;
}

.overNavSwipeAre nav.navSwipe > a.activeGrade > span {
  color: white;
}

.overNavSwipeAre nav.navSwipe > a.activeGrade > b:nth-child(1) {
  position: absolute;
  left: -0px;
  top: -14px;
  height: 15px;
  width: 77%;
  display: flex;
  background-color: #2d4b73;
  overflow: initial;
}

.overNavSwipeAre nav.navSwipe > a.activeGrade > b:nth-child(2) {
  position: absolute;
  left: -0px;
  bottom: -14px;
  height: 15px;
  width: 77%;
  display: flex;
  background-color: #2D4B73;
  overflow: initial;
}

.overNavSwipeAre nav.navSwipe > a.activeGrade > b:nth-child(1)::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: initial;
  background-color: #2b2b2b;
  border-bottom-left-radius: 15px;
}

.overNavSwipeAre nav.navSwipe > a.activeGrade > b:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 0px;
  width: 100%;
  height: 100%;
  overflow: initial;
  background-color: #2b2b2b;
  border-top-left-radius: 15px;
}

.openNavSwipe {
  transform: translate(-98%, 0px);
}
/*# sourceMappingURL=navSwipe.1.0.1.css.map */