// * define css padrão para todos os elementos #f3d1ce
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    // text-decoration: none;
    list-style-type: none;

    &>* {
        -webkit-user-select: none; // Desativar a seleção do usuário
        user-select: none;
        -webkit-touch-callout: none; //  Desativar longa pressione links
        -webkit-user-drag: none; // Desativar arrastar e soltar
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Cor de destaque transparente.
    }
}

// * define o css raiz do html
:root {
    font-family: 'Segoe UI';
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    overflow: hidden;
    touch-action: manipulation;

}

body {
    background-color: #F7F7F7;
    background-image: linear-gradient(to bottom, #F7F7F7 2%, #ffffff 51%);
    height: 100vh;
    width: 100%;

    >.app {
        background-color: green;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: scroll;

        >section {
            background-color: lightblue;
            min-height: 100vh;
            width: 100%;
            display: grid;
            gap: 10px;
            // grid-template-columns: 1fr 1fr;
            align-content: center;
            align-items: center;
            justify-items: center;
            justify-content: center;
        }

        >section.solitations {
            background-color: gainsboro;

            >img.logoApache {
                min-height: 150px;
                max-height: 150px;
            }

            >h1 {
                font-size: 24px;
                font-weight: normal;
                margin: 0px;
                overflow: visible;
                padding: 0px;
                text-align: center;
            }

            >button.event {
                font-size: 0.8em;
            }

            >span.spa_perms {
                font-size: 0.8em;
                justify-self: baseline;
                width: 100%;
                text-align: right;
                display: grid;
                align-self: flex-end;

            }

            >p {
                color: #FFFFFF;
                font-size: 0.8em;
                padding: 2px 0.5px; //!mob
                border-radius: 4px; //!mob
            }

            #deviceready.ready .event.conectando {
                display: none;
            }

            #deviceready.ready .event.conectado {
                display: block;
            }

            .event.conectando {
                background-color: #333333;
                display: block;
            }

            .event.conectado {
                background-color: #4B946A;
                display: none;
            }

            button#btn_entrarApp {
                font-size: 1em;
                letter-spacing: 2px;
                color: white;
                font-weight: 900;
                background-color: darkcyan;
                background-color: #4B946A;
                background-color: deeppink;

                display: none;
                padding: 8px 12px;
                width: inherit;
                max-width: 120px;
                border-radius: 4px;
                border: none;
                outline: none;

            }

            .testeBtn {
                background: gray;
                padding: 0.6rem 0.9rem;
            }
        }

        >section.log {
            background-color: white;


            >span.spa_perms {
                font-size: 0.8em;
                justify-self: baseline;
                width: 100%;
                text-align: right;
                display: grid;
                align-self: flex-end;

            }
        }
    }
    >.pageInter {
        background-color: gainsboro;
        min-height: 100vh;
        height: min-content;
        width: 100%;

        display: none;
        gap: 10px;
        // grid-template-columns: 1fr 1fr;
        align-content: center;
        align-items: center;
        justify-items: center;
        justify-content: center;


        >button {
            padding: 5px 8px;
        }

    }

    >section.menuInit {
        background-color: lightcoral;
        min-height: 100vh;
        width: 100%;

        display: flex;
    }
}